@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Owner</h1>
    <button onclick="location.href = 'https://localhost:7253/Owners';">Owners</button>
    <button onclick="location.href = 'https://localhost:7253/Vehicles';">Vehicles</button>
    <button onclick="location.href = 'https://localhost:7253/Claims';">Claims</button>
</div>
